* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    overflow: auto;
}


body {
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #666;
    background-color: #f7f7f7;
    font-size: 5vw;
}

.bb-word-logo {
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.navbar {
    background-color: #f7f7f7;
}

h1 {
    background-color: #5bC0eb;
    color: #f7f7f7;
    font-size: 7vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 1vw;
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

.top-menu {
    background-color: #be9a06;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 4.5vw;
}

nav ul li {
    display: inline;
    padding-left: 6vw;
    padding-right: 6vw;
}

#shop-img {
    width: 100%;
}

#bowl {
    width: 100%;
}

.frontpage-p {
    padding-left: 3vw;
    padding-right: 3vw;
}

#intro {
    margin-bottom: 5vw;
}

#intro p {
    padding-top: 2vw;
}

#shop-info {
    overflow: auto;
}

#shop-info p {
    padding-top: 2vw;
}

#weather-title {
    display: block;
    margin-top: 1vw;
}

#weather {
    display: block;
    overflow: auto;
}

.weather-article {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 15px;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 4vw 2vw 2vw 2vw;
    overflow: auto;
    text-align: center;
}

.weather-article h2,
p {
    margin-left: .5vw;
}

.location-img {
    width: 70%;
    border-radius: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.weather-icon {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#shop-page {
    position: relative;
    display: inline-block;
}

#shop-front {
    width: 100vw;
}

#s-text {
    position: absolute;
    z-index: 998;
    margin-left: 3vw;
    left: 0;
    right: 0;
    top: 50%;
    font-family: Arial, sans-serif;
    color: #fff;
    width: 60%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 1px;
    padding: 2vw;
    font-size: 4vw;
}

#s-text p{
    margin-top: 2vw;
}

#shop-but {
    width: 15vw;
    z-index: 999;
    background-color: #be9a06;
    padding: 2vw;
    text-align: center;
    margin-left: 40vw;
    margin-top: 3vw;
    font-size: 3vw;
    border: none;
    color: white;
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

#skater-profiles {
    overflow: auto;
}

.profile-article {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    overflow: auto;
    padding-bottom: 4vw;
}

.profile-img {
    width: 55vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.profile-info {
    overflow: auto;
    margin-left: 8vw;
    margin-top: 5vw;
    float: left;
    text-align: center;
}

#privacy{
    margin: 4vw;
}

#privacy p{
    margin-top: 2vw;
}

#privacy a{
    color:#666;
}

footer {
    text-align: left;
    background-color: #030303;
    padding-top: 6vw;
    padding-bottom: 6vw;
    padding-left: 8vw;
    overflow: auto;
    font-size: 5vw;
    color:white;
    font-family: "Unica One","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 100;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a{
    font-family: "Karla", "HelveticaNeue", "Helvetica Neue", sans-serif;
    color: #666;
}









@media (min-width: 765px) {
    body {
        font-size: 3vw;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4vw;
    }

    .top-menu {
        font-size: 1.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }


    .bb-word-logo {
        width: 25vw;
        display: block;
        margin-left: 15vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .weather-article {
        float: left;
        width: 29vw;
        margin-left: 1vw;
        margin-right: 1vw;
        padding: 2vw 1vw 1vw 1vw;
    }

    .profile-info {
        margin-left: 2vw;
        margin-top: 10vw;
    }

    .profile-img {
        width: 30vw;
        margin-left: 3vw;
        margin-right: 0;
        float: left;
    }

    #s-text{
        font-size: 3vw;
    }

    #shop-but {
        font-size: 2vw;
    }
    
    .footer-menu{
        font-size: 2vw;
    }



}
